@model WebDocBao.Models.TaiKhoan
@{
    Layout = null;
}

<!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Trang Đăng Nhập Quản trị</title>

         

        <link href="~/Assets/Login/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

         

        <link href="~/Assets/Login/css/sb-admin-2.min.css" rel="stylesheet" />

    </head>

    <body class="bg-gradient-primary">

        <div class="container">

             
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                             
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        @*<form class="user">*@
                                            @using (Html.BeginForm("login", "admin", FormMethod.Post, new { @class = "user" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "Đăng nhập không thành công");
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.maTaiKhoan, new { @class = "form-control", @placeholder = "Tên Đăng Nhập", @autofocus = "autofocus" })
                                                    @Html.ValidationMessageFor(model => model.maTaiKhoan, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.matKhau, new { @class = "form-control", @placeholder = "Mật Khẩu", @type = "password" })
                                                    @Html.ValidationMessageFor(model => model.matKhau, "", new { @class = "text-danger" })
                                                </div>

                                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                                    Login
                                                </button>
                                                <hr>
                                            }


                                        @*</form>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

         

        <script src="~/Assets/Login/vendor/jquery/jquery.min.js"></script>

        <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

         

        <script src="~/Assets/Login/vendor/jquery-easing/jquery.easing.min.js"></script>

         

        <script src="~/Assets/Login/js/sb-admin-2.min.js"></script>

    </body>

    </html>
@*<h3></h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Đăng nhập không thành công");

    <fieldset>
        <legend>Login</legend>
        <div>
            <label>Tài Khoản:</label>

            @Html.TextBoxFor(u => u.maTaiKhoan)
            @Html.ValidationMessageFor(model => model.maTaiKhoan)
        </div>
        <div>
            <label>Mật Khẩu:</label>

            @Html.PasswordFor(u => u.matKhau)
            @Html.ValidationMessageFor(model => model.matKhau)
        </div>
        <input type="submit" value="Login" />
    </fieldset>

}*@
